.dub
docs.json
__dummy.html
docs/
/vibed-rest-axios
vibed-rest-axios
vibed-rest-axios.so
vibed-rest-axios.dylib
vibed-rest-axios.dll
vibed-rest-axios.a
vibed-rest-axios.lib
vibed-rest-axios-test-*
*.exe
*.o
*.obj
*.lst

# Editor directories and files
.idea
*.iws
*.iml
*.ipr
.idea/
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

dub.selections.json